.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 200px;
    margin: 50px auto;
}

.display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    background-color: #eaeaea;
}

.button {
    width: 50px; /* 고정된 너비 */
    height: 50px; /* 고정된 높이 */
    display: flex; /* 텍스트 가운데 정렬 */
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}
